<div id="divContentWrapper" class="divContentWrapper">


    <div class="slide-container">
      <div>
        <div class="royalSlider heroSlider rsMinW" id="full-width-slider">

          <div class="rsContent"><img alt="Business students talking" class="rsImg"
            src="https://wwwtrain.gordon.edu/Images/2ColumnHero/JayTest2_2017_02_24_04_38_23.jpg" />
            <div class="rsCaption animated fadeInUp">
              <a class="slidelink" href="/graduate/finance">
                <div>
                  <h2>NEW: Master of Science in Financial Analysis</h2>
                  <p>One-year CFA preparation<br />
                    <span class="readmore">LEARN MORE &#10132;</span></p>
                </div>
              </a>
            </div>
          </div>

          <div class="rsContent"><img alt="Chapel Spring 2017: Gather Around" class="rsImg"
            src="https://wwwtrain.gordon.edu/Images/2ColumnHero/gatheraround-1500x600_2017_03_02_09_48_34.jpg" />
            <div class="rsCaption animated fadeInUp">
              <a class="slidelink" href="/chapelschedule">
                <div>
                  <h2>Parables from the Master Storyteller</h2>
                  <p>Luke 6&ndash;16<br />
                    <span class="readmore">VIEW CHAPEL SCHEDULE &#10132;</span></p>
                </div>
              </a>
            </div>
          </div>

          <div class="rsContent"><img alt="Actors from 12th Night Play" class="rsImg" src="images/play-festival.jpg" />
            <div class="rsCaption animated fadeInUp">
              <a class="slidelink" href="/theatreschedule">
                <div>
                  <h2>Running Late: January 27&ndash;28, February 3&ndash;4</h2>
                  <p>A new festival of plays written, directed and performed by students<br />
                    <span class="readmore">LEARN MORE &#10132;</span></p>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
      <!--End royal slider -->

    </div>
    <!--End Slide Container -->

</div>
