<div id="divContentWrapper" class="divContentWrapper">


    <div class="slide-container">
      <div>
        <div class="royalSlider heroSlider rsMinW" id="full-width-slider">
          {{#each slides as |slide|}}
          <div class="rsContent"><img alt="Business students talking" class="rsImg"
            src={{slide.ImagePath}} />
            <div class="rsCaption animated fadeInUp">
              <a class="slidelink" href={{slide.ActionLink}}>
                <div>
                  <h2>NEW: Master of Science in Financial Analysis</h2>
                  <p>One-year CFA preparation<br />
                    <span class="readmore">LEARN MORE &#10132;</span></p>
                </div>
              </a>
            </div>
          </div>
          {{/each}}

        </div>
      </div>
      <!--End royal slider -->

    </div>
    <!--End Slide Container -->

</div>
