<div class="cropper-container">
    <img id="image-to-crop" src={{path}}/>
</div>
<div class="img-preview">
    <img id="cropped-preview" src={{path}}/>
</div>
<div class="cropped">
    <div class="cropped-avatar">
    </div>
    Cropped Avatar
</div>
<button {{action "getCroppedAvatar"}}>Crop Avatar</button>
