<div id="cropper-div" class="image-cropper">
    <div class="cropper-container">
        <img id="image-to-crop" src="#"/>
    </div>
    <div class="img-preview">
        <img id="cropped-preview" src="#"/>
    </div>
</div>
