.page-title {
  text-align: center;
}
.page-title > h2 {
    font-size: 100%;
    margin: 5px;
}
.session-dropdown {
  margin: 5px;
}
.activity-list {
}
.activity-list > .activity-list-item {
    display: inline-block;
    background-color: white;
    margin: 2px;
    padding: 2px;
    vertical-align: top;
    width: 30%;
}
.activity-list > .activity-list-item:hover {
    border: 1px solid #064983;
    cursor: pointer;
}
.activity-list > .activity-list-item > .activity-list-item-img  {
    max-width: 80%;
    margin: 5px;
    border-radius: 10%;
}
.activity-list > .activity-list-item > p {
    margin-top: 5px;
    color: black;
}
.activity-list > a:hover {
    text-decoration: none;
}
.sort-list-header,
.sort-list-item {
    font-size: 150%;
    display: inline;
}

.sort-list-item:hover {
    color: #7EA5C8;
    cursor: pointer;
}
/*@media (max-width: 767px) {
    img {
        width: 100px;
        height: 100px;
    }
    .activity-list-item-row > div {
        font-size: 150%;
        margin-top: 15px;
        margin-left: 150px;
    }
    .activity-list > .activity-list-item {
        margin-right: 20px;
        margin-left: 20px;
    }
}*/
@media only screen and (min-width: 768px) {
    .page-title {
      font-size: 140%;
      margin: 15px;
    }
    .activity-list > .activity-list-item {
        width: 32%;
        margin: 5px;
    }
    .activity-list > .activity-list-item > .activity-list-item-img  {
        max-width: 70%;
        margin: 10px;
        border-radius: 10%;
    }
    .activity-list > .activity-list-item > p {
         margin: 15px;
         font-size: 140%;
    }
}
@media only screen and (min-width: 992px) {

  .page-title {
    font-size: 160%;
    margin: 0px;
    margin-left:30px;
    margin-bottom: 20px;
  }
  .page-title > h2 {
    font-size: 140%;

  }
  .activity-list {
  }

  .activity-list > .activity-list-item {
      width: 17%;
      margin-right: 0px;
      margin-left: 0px;
      margin: 5px;
  }
  .activity-list > .activity-list-item > .activity-list-item-img  {
      max-width: 100%;
      margin: 0px;
      border-radius: 100%;
  }
    .activity-list > .activity-list-item > p {
        font-size: 140%;
    }

}
@media only screen and (min-width: 1024px) {

  .dropdown-container {
    text-align: right;
  }
  .session-dropdown {
    display: inline-block;
    text-align: left;
    width : 30%;
    margin: 5px;
  }
  .activity-list > .activity-list-item > .activity-list-item-img  {
      max-width: 50%;
      margin-top: 2%;
  }
    .activity-list > .activity-list-item {
      width: 18%;
    }
    .activity-list > .activity-list-item > p {
        font-size: 150%;
    }
}
