/* -----------------------------
    Page Title and Inputs
------------------------------- */

.all-activities.page-title {
    margin-top: 20px;
}
.all-activities .input-container {
    margin-top: 20px;
}
.all-activities .session-dropdown,
.all-activities .search-bar {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5%;
    width: 90%;
    font-weight: bold;
}
.all-activities .session-dropdown > div,
.all-activities .search-bar input {
    border-radius: 0;
    letter-spacing: 1px;
}
.all-activities .session-dropdown label,
.all-activities .search-bar label {
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
}
.all-activities .session-dropdown {
  margin-bottom: 1.3em;
}
.all-activities .empty-list-reminder {
    margin-top: 50px;
    font-size: 120%;
    text-align: center;
}

/* -----------------------------
    Responsive Changes
------------------------------- */

@media only screen and (min-width: 768px) {
    .all-activities .session-dropdown,
    .all-activities .search-bar {
        width: 40%;
    }
}
