.event-box {
  background-color: #FFFFFF;
  margin-top: 30px;
}

.highlight-box {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 5px !important;
  align-content: space-between;
}

.event-header{
  font-size: 25px;
  margin-top: 0px;
  background-color: white;
}

.event-p{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    padding-top: 0px !important;

}

.event-labels {
  text-transform: UPPERCASE;
  color: white;
}
.entry-rows {
    border-top: 1px solid rgb(221,221,221);
    padding: 8px;
    font-size: 1.6em;
}

@media screen and (max-width: 767px) {
   .highlight-box, .event-labels, .event-row {
    font-size: 15px;
  }
  .event-id{
    font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
    color: #00aeef;
    background-color: white;
    border-bottom: 1px solid #3d3d3a;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: darkGrey;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .cyanbox{
    display: none;
  }
  .display-col{
    display: none;
    margin: 0;
    font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    background-color: lightGrey;
    border-bottom: 1px solid white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
  	color: #00aeef;
    }
  }


@media screen and (min-width: 768px) {
.display-col{
  display: block !important;
  }
}
