/* -----------------------------
    Gordon logo
------------------------------- */

#logo-box {
	background: #014983;
    margin: 0 auto 0 auto;
    text-align: center;
	padding: 2% 2%;
    position: relative;
    z-index: 2;
}
#logo-box img {
    max-width: 20%;
}

/* -----------------------------
    Title and Navigation
------------------------------- */

header {
	margin: 0 auto 0 auto;
}
.app-title-container {
    text-align: center;
		background: #cccccb;
}
.app-title {
	color: #31342b;
	text-transform: uppercase;
}
#primary-menu {
	font-weight: 700;
	font-style: normal;
	font-size: 1.1em;
	letter-spacing: 1px;
	padding: 0;
  text-align: center;
	text-transform: uppercase;
}
#primary-menu li {
	list-style: none;
	display: block;
	padding: 5px 0px;
}
#primary-menu a {
	color: #00aeef;
	text-decoration: none;
    padding: inherit;
}
#primary-menu a:hover {
	color: #DE571F;
}
.user-info {
    text-align: right;
    color: #31342b;
		text-transform: uppercase;
}
.request-button {
    border: 0px !important;
    font-size: 250%;
}
.request-button {
    color: white;
    margin-right: 20px;
}
.request-button:hover {
    color: #6F6F6F;
    cursor: pointer;
}
.logout-btn {
    background-color: #31342B;
    border-color: white;
    border-style: solid;
    border-width: thin;
    display: inline-block;
    font-size: 130% !important;
}

/* -----------------------------
    Notifications
------------------------------- */

.request-notification-dropdown {
    display: inline-block;
    margin-right: 40px;
}
.request-notification-dropdown > ul > li > strong {
	margin-left: 10px;
}
.request-notification-dropdown > ul > li > a {
    font-size: 80%;
}
.request-notification-dropdown > button:focus {
    border: 1px solid white !important;
}
.notification-info {
	margin-left: 15px;
}
.notification-delete {
	width: 60%;
	border-radius: 3px;
	font-size: 80%;
	margin-left: 35px;
}
.notification-delete > span {
	color: white;
}

/* -----------------------------
    Responsive Changes
------------------------------- */

@media only screen and (min-width: 425px) {
    #logo-box {
        position: absolute;
        top: 0;
        padding: 3% 3%;
        width: 20%;
        margin-left: 2%;
    }
    #logo-box img {
        max-width: 100%;
    }
    .app-title-container {
        text-align: right;
    }

    #primary-menu li {
        padding: 10px 0px;
    }
}
@media only screen and (min-width: 768px) {
    .app-title-container {
        text-align: center;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .app-title {
        display: inline;
        font-size: 200% !important;
    }
    .user-info {
        display: inline;
        float: right;
    }
    .user-info > h6 {
        margin-top: 0;
    }
    #primary-menu {
        float: right;
        font-size: 1.2em;
        margin-top: 12px;
        margin-right: 20px;
    }
    #primary-menu li {
        display: inline;
        margin-left: 26px;
        font-size: 150%;
    }
    #primary-menu li:first-child {
        margin-left: 0;
    }
	#main-page-container {
		margin-bottom: 50px;
	}
}
@media only screen and (min-width: 992px) {
    #logo-box {
        max-width: 200px;
        padding: 30px 30px;
    }
    #primary-menu {
        float: none;
        text-align: center;
        margin-right: 0;
    }
}
@media only screen and (min-width: 1200px) {
    .app-title {
        font-size: 250% !important;
    }
}
