/* -----------------------------
    Gordon logo
------------------------------- */

#logo-box, #logo-box-horizontal {
	background: #014983;
    text-align: center;
	padding: 2% 2%;
    position: relative;
    z-index: 2;
		display: none;
		margin-left: 15px;
		margin-right: 15px;
}


#logo-box img {
    max-width: 20%;
}
#logo-mobile {
		display: block;
		float: left;
		width: 123px;
		height: 31px;
		margin: 11px;
		margin-left: 15px;
}
.logo-mobile-center {
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
}

/* -----------------------------
    Title and Navigation
------------------------------- */

header {
	background: #cccccb;
	width: 100%;
	padding: 0 !important;
}
.header {
	background: #cccccb;
}
.app-title-container {
    text-align: left;
		background: #cccccb;
		position: relative;
}
.app-title {
	display: none;
	color: #31342b;
	text-transform: uppercase;
	vertical-align: middle;
	font-size: 1.4em !important;
	letter-spacing: 1px;
	font-weight: 400 !important;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
#primary-menu {
	font-size: 1.5em;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 1px;
	padding: 0;
  text-align: left;
	text-transform: uppercase;
}
#primary-menu li {
	list-style: none;
	display: block;
	padding: 15px 0px;
	text-align: center;
	border-bottom: 1px solid #3d3d3a;
}
#primary-menu a {
	color: #00aeef;
  padding: inherit;
}
#primary-menu a:hover {
	color: #DE571F;
}
#primary-menu button {
	background: inherit;
	color: #00aeef;
	font-weight: inherit;
	font-size: inherit;
	text-transform: inherit;
}
#primary-menu button:hover {
	color: #DE571F !important;
	transition: color 0s;
	-webkit-transition: color 0s;
	-moz-transition: color 0s;
}
.showMenu {
	display: block !important;
	padding: 0;
}
.primary-menu-container {
	display: none;
}
ul.dropdown-menu {
	border-radius: 0;
	letter-spacing: 1px;
	margin-top: .65em;
}

.user-info {
    text-align: right;
    color: #31342b;
		display: none;
		position: absolute !important;
		right: 0;
		padding-bottom: 10px;
}
.user-info h4 {
	color: #31342b;
	letter-spacing: 1px;
	font-size: 1.2em;
	display: inline;
	text-transform: uppercase;
	margin-top: 19px;
	margin-bottom: 19px;
}
.user-info:hover {
	color: #DE571F;
}

.user-info-buttons {
		display: inline;
		margin-left: 15px;
}
.user-info-mobile {
		color: BLACK;
}
.request-button {
    border: 0px !important;
    font-size: 250%;
    color: white;
    margin-right: 20px;
		position: absolute !important;
		top: -13px !important;
}
.request-button:hover {
    color: #31342b;
    cursor: pointer;
}
.profile-btn {
    font-size: 120% !important;
		text-transform: uppercase;
		font-weight: bold !important;
		letter-spacing: .07em;
}
.logout-btn {
		margin-bottom: 20px !important;
		margin-top: 20px;
		text-transform: uppercase;
		font-weight: bold !important;
		float: right;
		width: 100%;
}
.activities-status .btn {
	margin-bottom: 10px;
}
.mobile-menu-icon {
		display: block;
		float: right;
}
.mobile-menu-icon button {
		background: inherit;
}
#icon-menu {
		width: 50px;
		height: 50px;
}
.notification {
		position: relative;
		top: -5px;
		background: red;
		color: white;
		font-size: 0.8em;
		font-weight: bold;
		padding: 2px 4px 2px 5px;
		border-radius: 25px;
}


/* -----------------------------
   HERO IMAGE
 ------------------------------- */

.hero-container {
	width: 100%;
	margin: 0px;
	border-bottom: 2px solid #cccccb;
}
@media screen and (max-width:750px) {
	.hero-container {
		overflow: auto;
	}

}

/* For providing image via background image and not royalslider */
.hero-container-background-img {
	width: 100%;
	min-height: 175px;
	max-height: 550px;
	position: relative;
	margin: 0px;
	border-bottom: 2px solid #cccccb;
	background-position: center center;
	background-size: cover;
	background-image: url(images/seascape.jpg);
}


/* -----------------------------
    Responsive Changes
------------------------------- */

@media only screen and (min-width: 425px) {
    #primary-menu li {
        padding: 10px 0px;
    }
}
@media only screen and (min-width: 768px) {
    .user-info {
        display: inline;
    }


    .user-info > h6 {
        margin-top: 0;
				display: inline-block;
    }
		.user-info-mobile, .logout-mobile {
				display: none !important;
		}
		.dropdown:hover .dropdown-menu {
		    display: block;
		    margin-top: 0; // remove the gap so it doesn't close
		 }
    #primary-menu {
        font-size: 1em;
        margin-top: 12px;
				margin-right: 22%;
        float: none;
        text-align: right;
    }
    #primary-menu li {
        display: inline;
        margin-left: 13px;
				margin-right: 13px;
        font-size: 150%;
				border: 0;
    }
    #primary-menu li:first-child {
        margin-left: 0;
    }
		.primary-menu-container {
			display: block;
			background: #ebeaea;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			border-bottom: 2px solid #cccccb;
		}
		#main-page-container {
			margin-bottom: 50px;
		}
		#icon-menu {
			display: none;
		}
		.logout-btn {
			margin-right: 20px;
			float: right;
			width: auto;
		}
}
@media only screen and (min-width: 992px) {
    .app-title-container {
        text-align: center;
				padding: 22px;
		}
		.mobile-row{
			display:none;
		}
    .app-title {
        display: inline;
    }
		#logo-box {
      max-width: 200px;
      padding: 20px 30px;
			display: block;
      position: absolute;
      top: 0;
      padding: 2% 3%;
  	}
    #logo-box img {
      max-width: 100%;
    }
		#logo-box-horizontal {
				display: block;
				position: absolute;
				top: 0;
				padding-top: 45px;
				padding-bottom: 30px;
				padding-left: 30px;
				padding-right: 30px;
		}
		#logo-mobile {
			display: none;
		}
		#primary-menu {
			margin-left: 200px;
		}
		.user-info {
			margin-top: 5px;
		}
}
@media only screen and (min-width: 1200px) {
		#primary-menu {
			font-size: 1.2em;
		}
		#logo-box-horizontal {
			padding-bottom: 34px;
		}


}
