.chapel-box {
  background-color: #FFFFFF;
  margin-top: 30px;
}

.chapel-labels {
  text-transform: UPPERCASE;
  color: #FFFFFF;
}
.row-chapel div:nth-child(even){
  background: #ffffff;
}
.row-chapel div:nth-child(odd){
  background: #DDD;
}

.row-chapel {
  padding: 12px 18px;
  color: BLACK;
  margin-bottom: 0;
  margin-top: 0;
}
