/* All vendor prefixes were generated automatically via Autoprefixer */

/* CONTENTS

 - Colors
 - Global Styles
 - Activity List
 - Colored Boxes
 - Buttons
 - Ember Power Select
 - Loading Screen

*/

/* -----------------------------
    Colors
------------------------------- */

/* Using root colors does not work in all browsers... Microsoft Edge */
:root {
    --cyan: #00aeef;
    --cyan-hover: #00bdec;
    --navy: #014983;
    --navy-hover: #0159A0;
    --orange: #DE571F;
    --orange-hover: #E2794C;
    --green: #b2bb1c;
    --green-hover: #bcc61e;
    --dark-green: #086d38;
    --dark-green-hover: #0a7a3d;
    --red: #b53228;
    --red-hover: #d83c30;
    --yellow: #FDB913;
    --yellow-hover: #fdc233;
    --gray: #31342B;
    --black: #31342b;
    --black-hover: #5A5D55;

    --brown-gray: #31342B;
    --light-gray: #EBEAEA;
    --mid-gray: #6F6F6F;
    --dark-gray: #252525;
}

/* -----------------------------
    Global Styles
------------------------------- */

* {
    color: #252525;
    font-family: "Gotham SSm 7r", "Gotham SSm A", "Gotham SSm B", sans-serif;
}
body {
	font-size: 0.9em !important;
    font-family: Verdana, Geneva, sans-serif !important;
    background: #EBEAEA !important;
}
p {
	margin: 0.5em 0 1.25em 0 !important;
	padding: 0;
	line-height: 1.8em;
}
h1 {
	font-size: 2em !important;
	line-height: 1.2em !important;
	margin: 0 0 0.2em 0 !important;
	padding: 0px;
	font-weight: 700 !important;
	font-style: normal;
}
h2 {
	font-size: 1.4em !important;
	line-height: 1.2em !important;
	margin: 0.5em 0 0.35em 0 !important;
	padding: 0px !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
select[type="text"]:focus {
    border: 1px solid #00aeef;
    box-shadow: none;
}
th {
  text-transform: uppercase;
}

/* -----------------------------
    Activity List
------------------------------- */

.activity-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 15px;
}
.activity-list-item {
    text-align: center;
    padding: 0px !important;
    display: block;
    background-color: white;
    margin: 2%;
    width: 46%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    overflow: hidden;
    margin-bottom: 10px !important
}
.activity-list-item:hover {
    background-color: #DE571F !important;
}
.activity-list-item:hover .activity-list-item-title,
.activity-list-item:hover .activity-list-item-info {
    color: #ffffff !important;
}
.activity-list-item-img {
    background-color: white;
    display: block;
    width: 100%;
}
.activity-list-item-details {
    display: block;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.activity-list-item-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.activity-list-item-info {
    font-weight: normal;
    margin-top: 5px;
}
.activity-list > a:hover {
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .activity-list-item {
        width: 23%;
        margin: 1%;
    }
    .activity-list {
        width: 100%;
    }
}
@media only screen and (min-width: 992px) {
    .activity-list-item {
        width: 18%;
    }
}
@media only screen and (min-width: 1200px) {
    .activity-list-item {
        width: 14.6%;
    }
}

/* -----------------------------
    Colored Boxes
------------------------------- */

.highlight, .outlinebox {
	padding: 22px 30px 22px 30px;
	background: white;
	border-left: 3px solid #00aeef;
	border-radius: 0 6px 6px 0;
	margin-bottom: 1.25em;
	overflow: auto;
}
.cyanbox {
	background: #00aeef;
	padding: 12px 18px;
	color: white;
}
.darkgreenbox {
	background: #006D22;
	padding: 12px 18px;
	color: white;
}
.graybox {
	background: #31342b;
	padding: 12px 18px;
	color: white;
}
.greenbox {
	background: #b2bb1c;
	padding: 12px 18px;
	color: white;
}
.lightgraybox {
	background: #ebeaea;
	padding: 12px 18px;
}
.navybox {
	background: #014983;
	padding: 12px 18px;
	color: white;
}
.orangebox {
	background: #de571f;
	padding: 12px 18px;
	color: white;
}
.redbox {
	background: #b53228;
	color: white;
	padding: 12px 18px;
}
.yellowbox {
	background: #fdb913;
	padding: 12px 18px;
}
.whitebox {
	background: white;
	padding: 12px 18px;
}
.cyanbox a, .navybox a, .orangebox a, .redbox a, .greenbox a, .darkgreenbox a, .darkgraybox a {
	color: white;
}
.cyanbox a:hover, .navybox a:hover, .orangebox a:hover, .redbox a:hover, .greenbox a:hover, .darkgreenbox a:hover, .darkgraybox a:hover {
	color: black;
}

/* -----------------------------
    Buttons
------------------------------- */

button,
button:hover,
button:focus,
button:active,
.btn,
.btn:hover,
.btn:focus,
.btn:active {
    border: none !important;
    outline: none !important;
    text-decoration: none;
    border-radius: 0 !important;
}
button:hover,
button:focus,
.btn:hover,
.btn:focus {
    color: white !important;
    text-decoration: none;
}
button:active,
.btn:active {
	-webkit-transform: translateY(2px);
    transform: translateY(2px);
}
.button-black {
    background-color: #31342b;
    color: white;
}
.button-black:hover {
    background-color: #5A5D55;
}
.button-cyan {
    background-color: #00aeef;
    color: white;
}
.button-cyan:hover {
    background-color: #00bdec;
}
.button-navy {
    background-color: #014983;
    color: white;
}
.button-navy:hover {
    background-color: #0159A0;
}
.button-orange {
    background-color: #DE571F;
    color: white;
}
.button-orange:hover {
    background-color: #E2794C;
}
.button-green {
    background-color: #b2bb1c;
    color: white;
}
.button-green:hover {
    background-color: #bcc61e;
}
.button-darkgreen {
    background-color: #086d38;
    color: white;
}
.button-darkgreen:hover {
    background-color: #0a7a3d;
}
.button-red {
    background-color: #b53228;
    color: white;
}
.button-red:hover {
    background-color: #d83c30;
}
.button-yellow {
    background-color: #FDB913;
    color: #31342b;
}
.button-yellow:hover {
    background-color: #fdc233;
    color: #31342b !important;
}
.button-gray {
    background-color: #31342B;
    border: 1px solid white !important;
    color: white;
}
.button-gray:hover {
    background-color: #31342B;
    border: 1px solid white !important;
    color: white;
}
.button-white {
    background-color: white;
    color: #808080;
}
.button-white:hover, .button-white:focus {
    background-color: #00aeef;
    color: white;
}
.button-447 {
    background-color: #31342b;
}
.button-447:hover {
    background-color: #5A5D55;
}

/* -----------------------------
    Ember Power Select
------------------------------- */

.ember-power-select-placeholder,
.ember-power-select-selected-item {
    font-size: 1.5em;
    line-height: 2.5em;
    margin-left: 4px;
}
.ember-power-select-option {
    color: #252525;
}
.ember-power-select-option,
.ember-power-select-search {
    font-size: 1.4em;
}
.ember-power-select-option[aria-current="true"] {
    background-color: #EBEAEA;
    color: #252525;
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
}

/* -----------------------------
    Loading Screen
------------------------------- */

#loading-box {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
}
