:root {
    --cyan: #00aeef;
    --cyan-hover: #00bdec;
    --navy: #014983;
    --navy-hover: #0159A0;
    --orange: #DE571F;
    --orange-hover: #E2794C;
    --green: #b2bb1c;
    --green-hover: #bcc61e;
    --dark-green: #086d38;
    --dark-green-hover: #0a7a3d;
    --red: #b53228;
    --red-hover: #d83c30;
    --yello: #FDB913;
    --yello-hover: #fdc233;
    --black: #31342b;
    --black-hover: #5A5D55;

    --brown-gray: #31342B;
    --light-gray: #EBEAEA;
    --mid-gray: #6F6F6F;
    --gray: #D0D2D3;
    --dark-gray: #252525;
}
* {
    color: var(--dark-gray);
    font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
}
.app-title-container {
    text-align: center;
}
.app-title {
    font-size: 200%;
    margin-top: 0px;
}
.acknowledge-user {
    font-size: 100%;
    font-weight: 500;
}
.app-title-ampersand {
    font-size: 60%;
    font-weight: 100;
}
input[type="text"]:focus,
select[type="text"]:focus {
    border: 1px solid var(--cyan);
    box-shadow: none;
}
/* Custom Nav Bar */
nav.navbar-blue .navbar-header {
    display: none;
}
/*nav.navbar-blue .navbar-brand {
    color: var(--blue);
}*/
nav.navbar-blue {
    font-size: 14px;
    background-color: var(--navy);
    border-width: 0px;
    border-radius: 5px;
}
nav.navbar-blue .navbar-nav > li > a {
    color: white;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
}
nav.navbar-blue .navbar-nav > li > a:hover,
nav.navbar-blue .navbar-nav > li > a:focus {
    color: white;
    background-color: var(--cyan);
}
/*nav.navbar-blue .navbar-nav > .active > a,
nav.navbar-blue .navbar-nav > .active > a:hover,
nav.navbar-blue .navbar-nav > .active > a:focus {
    color: white;
    background-color: var(--cyan);
}
nav.navbar-blue .navbar-toggle {
    border-color: var(--cyan);
}
nav.navbar-blue .navbar-toggle:hover,
nav.navbar-blue .navbar-toggle:focus {
    background-color: var(--cyan);
}
nav.navbar-blue .navbar-toggle .icon-bar {
    background-color: var(--cyan);
}
nav.navbar-blue .navbar-toggle:hover .icon-bar,
nav.navbar-blue .navbar-toggle:focus .icon-bar {
    background-color: var(--blue);
}*/
button {
    border: none;
}
button:hover {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
}
/* FROM GORDON's CSS FILE */
button.button-cyan {background: var(--cyan); color: white;}
button.button-cyan:hover {background: var(--cyan-hover); color: white; text-decoration: none;}

button.button-navy { background: var(--navy); color: white;}
button.button-navy:hover {background: var(--navy-hover); text-decoration: none; color: white;}

button.button-orange {background: var(--orange); color: white;}
button.button-orange:hover {background: var(--orange-hover); text-decoration: none; color: white;}

button.button-green {background: var(--green); color: white;}
button.button-green:hover {background: var(--); text-decoration: none; color: white;}

button.button-darkgreen {background: var(--darkgreen); color: white;}
button.button-darkgreen:hover {background: var(--darkgreen-hover); text-decoration: none; color: white;}

button.button-red {background-color: var(--red); border: none; color: white;}
button.button-red:hover {background-color: var(--red-hover); text-decoration: none; color: white;}

button.button-yellow {background: var(--yellow); color: #31342b;}
button.button-yellow:hover {background: var(--yellow-hover); text-decoration: none; color: #31342b;}

button.button-gray {background: var(--gray); color: black;}

button.button-black {background: var(--black); color: white;}
button.button-black:hover {background: var(--black-hover); color: white; text-decoration: none;}

/* Ember Power Select */
.ember-power-select-option {
    color: var(--dark-gray);
}
.ember-power-select-option[aria-current="true"] {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
}

@media only screen and (min-width: 768px) {
    .acknowledge-user {
        float: right;
    }
}
@media only screen and (min-width: 992px) {
    .app-title-container {
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .app-title {
        font-size: 300%;
        font-family: sans-serif;
    }
    .app-title-ampersand {
        font-size: 80%;
        font-weight: normal;
    }
}
@media only screen and (max-width: 768px) {
    nav.navbar-blue {
        font-size: 14px;
        border-radius: 0px;
    }
    .nav-search {
        margin-top: 4px;
        margin-left: 0px;
        width: 80%;
    }
    button,
    select,
    input,
    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
