#edit-box {
    border-radius: 3px;
}
#edit-box > h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#edit-box > form > input,
#edit-box > form > .ember-power-select-trigger {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#edit-box > form > button {
    float: right;
    margin-left: auto;
    margin-right: auto;
}
#error-message {
    color: white;
    font-size: 125%;
}

/* -----------------------------
    Responsive Changes
------------------------------- */

@media only screen and (min-width: 768px) {
    #edit-box {
        margin-top: 100px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
