#email-div {
    padding: 30px;
}
#email-div p {
    word-wrap: break-word;
}
#email-content {
    margin-top: 20px;
}
#success-msg {
    display: none;
}
#submit-div {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
