#form-box {
    border-radius: 3px;
}
#form-box > h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#form-box > form > input,
#form-box > form > .ember-power-select-trigger {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#form-box > form > button {
    float: right;
    margin-left: auto;
    margin-right: auto;
}
#error-message {
    color: white;
    font-size: 130%;
}
#error-message > span {
    color: #d83c30;
    font-size: 150%;
}
.file-label {
  font-size: 150%;
  color: white;
  background: #31342B;
}
.file-upload {
  padding: 5px 10px;
  margin: 5px 0px 15px 0px !important;
  font-size: 100%;
  background: #31342B;
  width: 100%;
}
.default-image-check {
  color: white;
  margin-left: 5px;
  font-size: 150%;
}



/* -----------------------------
    Responsive Changes
------------------------------- */

@media only screen and (min-width: 768px) {
    #form-box {
        margin-top: 100px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
