/* Styles for the Dashboard (My Involvements) Page */
.dashboard .involvements-dropdown {
  padding-left: 0;
  padding-right: 0;
}
.dashboard .involvements-dropdown .collapse {
  margin-top: 6em;
  padding: 0;
}
.involvements-dropdown nav {
  margin-bottom: 0;
}
.involvements-dropdown .glyphicon-chevron-down,
.involvements-dropdown .navbar-brand {
  color: #00aeef;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 1px;
}
.involvements-dropdown .navbar-header:hover .navbar-brand,
.involvements-dropdown .navbar-header:hover .glyphicon-chevron-down{
  color: #DE571F
}
.involvements-dropdown .navbar-header .caret {
  font-size: 200%;
  cursor: pointer;
}
.involvements-dropdown-header {
  display: none;
}
.involvements-dropdown-button {
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}
.involvements-div {
  cursor: pointer;
}
.involvements-dropdown li {
  border: 2px #cccccc;
  font-size: 1.75em !important;
  margin: auto;
  text-align: center;
  width: 100%;
}
.involvements-dropdown ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
ul.experience-involvements-dropdown li.experience-category {
  background-color: #00aeef;
  border-bottom: solid 1px #ebeaea;
  color: #fff;
  font-weight: bold;
  letter-spacing: .5px;
  padding: .75em;
}
ul.experience-involvements-dropdown li.no-activities-msg {
  background-color: #fff;
  line-height: 1.75em;
  padding: 1.5em;
}
.involvements-dropdown .dropdown button.dropdown-toggle,
.involvements-dropdown .dropdown.open>.dropdown-toggle.btn-default:focus,
.involvements-dropdown .dropdown.open>.dropdown-toggle.btn-default:hover,
.involvements-dropdown .dropdown.open>.dropdown-toggle.btn-default {
  background-color: #ebeaea;
  color: #000 !important;
  letter-spacing: .5px;
  padding: .65em;
  width:100%;
}
.involvements-dropdown .dropdown {
   border-bottom: solid 1px #cccccb;
}
.involvements-dropdown .dropdown .dropdown-menu {
  box-shadow: none;
  float: none;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
}
#involvements-navbar {
  display: none;
}
.involvements-dropdown .dropdown .dropdown-menu li a {
  font-size: .55em !important;
  padding: 1.25em;
  /*padding-left: 1.25em;*/
  text-align: left;
  white-space: normal;
}
.session-description {
  font-size: .8em;
  font-style: italic;
}
.dashboard .col-sm-9.col-sm-offset-3.main-content {
  padding-left:0;
  padding-right: 0;
}
.banner img {
  width: 100%;
}
.row.info-blocks {
  margin: 0;
}
.dashboard .info-block {
  /*background-color: #00aeef;*/
  background-color: #014983;
  color: #fff;
  cursor: pointer;
  height: 100px;
  text-align: center;
}

.dashboard .info-block.active {
    background-color: #00aeef;
}

.glyphicon-triangle-bottom {
    color: #014983;
}

.glyphicon-triangle-bottom.active {
    color: #00aeef;
}

/*.dashboard .info-block:first-child, .dashboard .info-block:last-child {
  background-color: #014983;
}*/
.dashboard .info-block h4 {
  font-weight: bold;
  letter-spacing: .65px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.info-blocks.tab-content .tab-pane {
  min-height: 208px;
}
.info-blocks .tab-pane {
  background-color: #fff;
  padding: 4em;
  position: relative;
}
.info-blocks .tab-pane .glyphicon-triangle-bottom {
  font-size: 4em;
  position: absolute;
}
#info-block-content-1 .glyphicon-triangle-bottom {
  /*color: #014983;*/
  left: 5%;
  top: -10px;
}
#info-block-content-2 .glyphicon-triangle-bottom {
  /*color: #00aeef;*/
  left: 37%;
  top: -10px;
}
#info-block-content-3 .glyphicon-triangle-bottom {
  /*color: #014983;*/
  left: 71%;
  top: -10px;
}
.info-blocks .tab-pane h4 {
  color: #00aeef;
  font-weight: bold;
}
.info-blocks .tab-pane p{
  font-size: 1.5em !important;
}
@media (min-width: 768px) {
  /*.row .involvements-dropdown {
    display: block;
    padding: 0;
    position: absolute;;
    top: 0; bottom: 0; left: 0;
  }
  .involvements-dropdown .navbar-header {
    display: none;
  }*/
}
@media only screen and (max-width: 768px) {
  .info-blocks.tab-content .tab-pane{
    min-height: 245px;
  }
}
@media only screen and (max-width: 992px) {
  .info-blocks.tab-content .tab-pane{
    min-height: 240px;
  }
}
