#login-box > h1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#login-box > form > input {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#login-box > form > button {
    float: right;
    margin-left: auto;
    margin-right: auto;
}
#error-message {
    color: white;
    font-size: 125%;
}
@media only screen and (min-width: 768px) {
    #login-box {
        margin-top: 100px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
