/* All vendor prefixes were generated automatically via Autoprefixer */

/* -----------------------------
    Section Headers
------------------------------- */

.section-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.section-title > h2 {
    text-align: center;
}
.group-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.empty-list {
    text-align: center;
}
.empty-list-link {
    color:  #00aeef;
	text-decoration: none;
    padding: inherit;
}
.empty-list-link:hover {
    color: var(--orange);
}

/* -----------------------------
    Responsive Changes
------------------------------- */
@media only screen and (min-width: 768px) {
    .section-title {
        font-size: 1.3em;
        width: 61%;
        margin-left: auto;
        margin-right: auto;
    }
    .group-title {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}
