.my-involvements-page {
    width: 768px !important;
    margin: auto !important;
}
.my-involvements-page #my-involvements-content {
    margin-top: 20px;
}

.my-involvements-page h1 {
    text-align: center;
    font-size: 2.5em !important;
    margin-top: 30px !important;
}

.my-involvements-page h2 {
    font-size: 2em !important;
    margin-top: 15px !important;
    font-weight: bold !important;
}

.my-involvements-page h3 {
    text-align: left;
    font-size: 1.8em !important;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 15px;
    font-weight: bold;
}

.my-involvements-page li {
    list-style-type: none;
    font-size: 1.6em;
}

.my-involvements-page #no-activity {
    font-size: 2em;
}

.my-involvements-page a {
    color: black;
}

.my-involvements-page .activities {
    padding: 1em;
    border-bottom: 1px #ebeaea solid;
}

.my-involvements-page .activities:first-child {
    border-top: 1px #ebeaea solid;
}

.my-involvements-page .past-session {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.my-involvements-page .past-session a {
    width: 100%;
}

.my-involvements-page .past-session span {
    width: 50%;
    margin: auto;
}

.my-involvements-page ul {
    padding-left: 0;
}

.my-involvements-page .whitebox {
    padding: 0;
}

.my-involvements-page li:hover {
    background-color: #cccccb;
    /*cursor: pointer;*/
}

@media only screen and (max-width: 768px) {
    .my-involvements-page {
        width: 100% !important;
    }
}
