.my-involvements {
    width: 768px !important;
    margin: auto !important;
}
.my-involvements #my-involvements-content {
    margin-top: 20px;
}

.my-involvements h1 {
    text-align: center;
    font-size: 2.5em !important;
    margin-top: 30px !important;
}

.my-involvements h2 {
    font-size: 2em !important;
    margin-top: 15px !important;
    font-weight: bold !important;
}

.my-involvements h3 {
    text-align: left;
    font-size: 1.8em !important;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 15px;
    font-weight: bold;
    background-color: #00aeef;
    color: white;
    cursor: pointer;
}

.my-involvements li {
    list-style-type: none;
    font-size: 1.6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px #cccccb solid;
}

.my-involvements .involvements-session-description {
    font-style: italic;
}

.my-involvements li:first-child {
    /*border-top: 1px #cccccb solid;*/
}

.my-involvements #no-activity {
    font-size: 2em;
}

.my-involvements #no-activity a {
    padding-left: 0;
    color: #00aeef;
}

.my-involvements a {
    padding: 1em;
    color: black;
    width: 100%;
}

.my-involvements a:hover {
    color: black;
}

.my-involvements li:hover {
    /*border-top: 1px #cccccb solid;*/
    /*border-bottom: 1px #cccccb solid;*/
    /*background: linear-gradient(to bottom, #ebeaea, #cccccb);*/
    background-color: #cccccb;
}

.my-involvements .past-session span {
    width: 50%;
    margin: auto;
}

.my-involvements ul {
    padding-left: 0;
}

.my-involvements .whitebox {
    padding: 0;
}

.my-involvements .whitebox {
    /*background-color: transparent;*/
}

.my-involvements .glyphicon-menu-down {
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

/*.my-involvements .not-in {
    display: none;
}*/

@media only screen and (max-width: 768px) {
    .my-involvements {
        width: 100% !important;
    }
}
