.profile .background-transparent {
    background: transparent;
}

.profile .col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
    margin-left: -4px;
}

.profile .col-no-padding {
    padding: 0;
}

.profile .row {
    margin: 0 auto;
    width: 100%;
}

.profile .show {
    display: block;
}

/*******************
Student Profile
*******************/
.profile {
    padding: 0 !important;
    padding-bottom: 45px;
    background: rgb(235, 234, 234);
}


/*This only works becuase the background of the dropdown is set to transparent*/
.profile div,
.profile section {
    background-color: white;
}

.profile .profile-block {
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.profile .profile-block:first-of-type {
    padding-top: 10px;
}

.profile .block-header {
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(235, 234, 234);
    font-size: 2em;
    background-color: rgb(250,250,250);
}

.profile .round-top-coners {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*********************
Main profile block
*********************/

.profile .user-name {
    font-size: 2.5em;
    text-align: center;
}

.profile .user-links {
    font-size: 1.3em;
    text-align: center;
}


.profile .social-media-buttons {
    border: 1px solid rgb(205, 205, 205);
    margin: 2px 4px;
    text-align: center;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
}

.profile .social-media-buttons a {
    color: #00aeef;
}

.profile .user-position {
    font-size: 2em;
    text-align: center;
    padding-bottom: .5em;
}

.profile .profile-block-info {
    margin: auto 0;
}


/**********************************
Profile Action buttons (for mobile)
**********************************/
.profile .profile-action-block{
    padding-top: 5px;
}

.profile .profile-action-button-container {
    border-left: 1px solid rgb(235, 234, 234);
    padding: 4px;
}

.profile .profile-action-button-container:first-of-type {
    border: none;
}

.profile .profile-action-button-container:active {
    background: rgb(235, 234, 234);
}

.profile .action-icon {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.action-icon-image {
    width: 100%;
}

.profile .action-link {
    width: 95%;
    margin: 0 auto;
    font-size: 1.4em;
    text-align: center;
}

.phone-privacy-button {
    display: none;
}

.profile .action-icon .glyphicon {
    font-size: 3.5em;
}

/***********************
Personal info block
***********************/

.profile .personal-info-list {
     font-size: 1.5em;
}

.profile .personal-info-list {
    list-style-type: none;
    -webkit-padding-start: 0;
}

.profile .personal-information-entry {
    font-size: 1.6em;
    padding: 5px 15px;
    border-top: 1px solid rgb(221,221,221);
}

.profile .personal-information-entry:last-of-type {
    /*border: none;*/
    padding-bottom: 0;
}

.profile .personal-information-entry-value {
    text-align: right;
}

.profile .personal-information-entry-value.no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*******************
Profile Picture
*******************/
.profile .profile-picture-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
  max-width: 275px;
}

.profile .image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.profile .overlay {
    display: none;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(23,80,236,.5);
}

.profile .profile-picture-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.profile .text {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/****************************
Edit profile picture modal
****************************/

.profile .showModal {
    display: block !important;
}

.profile .modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.profile .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    max-height: 90%;
    overflow-y: auto;
}
/*.profile .modal-content::-webkit-scrollbar { 
    display: none; 
    TODO style scrollbar
}*/




/**Form Styles**/

/*#profile-modal-form-box form input,*/
#profile-modal-form-box form .ember-power-select-trigger,
#profile-modal-form-box form .input-group,
#profile-modal-form-box form textarea {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    color: #31342b;
    font-weight: bold;
    letter-spacing: 1px;
}

#profile-modal-form-box span {
    font-weight: bold !important;
}
#profile-modal-form-box label {
    text-transform: uppercase;
    font-size: 1em;
}
#profile-modal-form-box {
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#profile-modal-form-box form .input-group label span input {
    display: none;
}

.profile .image-cropper-wrapper {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.profile .img-preview {
    display: none;
}

.profile #profile-modal-form-box button,
.profile #profile-modal-form-box .browse-button {
    width: 95%;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 1.45em;
    padding: 8px 0;
    margin: 0 auto;
}
.profile #profile-modal-form-box .browse-button{
    padding: 8px 15px;
    width: 100%;
}

.profile .profile-picture-privacy-button {
    /*font-size: 1.3em !important;*/
    height: 34px;
}

.profile #profile-modal-form-box button {
    margin: 5px;
}

.profile-success-message {
    padding-bottom: 5px;
}

/****************************
Edit social media modal
****************************/

.profile .edit-links-button-containers {
    padding: 0;
}

.profile .edit-links-button {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.profile .add-links-button {
    display: block;
    width: 100%;
} 

.profile .modal-title {
    font-size: 3em;
}

.profile .links-title {
    font-size: 1.8em;
    padding-top: 5px;
}

.profile .hide {
    display: none;
}

.profile .edit-links-input {
    display: block;
    width: 100%;
    height: 32px;
    margin: 0 auto;
    font-size: 1.8em;
    padding: 2px 4px;
    border: 1px solid rgb(205, 205, 205); 
    border-radius: 4px;

}

.profile .edit-links-form {
    margin: 3px 0;
}

.profile .edit-links-row {
    margin: 3px 0;
    padding: 5px 0;
}

.profile .edit-links-form-container {
    margin: 3px 0;
}

.profile .success-message {
    font-size: 1.9em;
    color: green;
}


/****************************
Activities
****************************/

.profile .activity-image {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.profile .activity-entry {
    padding: 15px 0;
    font-size: 1.5em;
    border-bottom: 1px solid rgb(221,221,221);
}

.profile .activity-entry:last-of-type {
    border: none;
    padding-bottom: 0;
}


.profile .activity-entry-title {
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile .activity-entry ul {
    list-style-type: none;
}

.profile .club-privacy-button {
    color: #ffffff;
    background: #00aeef;
    padding: 5px 10px 5px 10px;
    width: 120;
}

.profile .activity-session {
    font-size: 1.15em;
    padding-top: 3px;
}

.profile .activity-privacy-button-mobile-container {
    width: 100px;
    float: right;
}

.profile .activity-privacy-button-mobile span {
    color: #00aeef;
    float: right;
    padding-right: 5px;
    padding-top: 1px;
}
.profile .activity-privacy-button-mobile {
    text-align: left;
    color: #00aeef ;
    font-size: 1.1em;
    background: transparent;
    padding-left: 5px;
}

.profile .social-media-buttons.disabled {
    opacity: 0.5;
}

.profile .activity-row2 {
    padding-top: 2px;
}

.profile .activity-contacts {
    color: #00aeef;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile .activity-contact-button-containers {
    width: 90%;
    margin-top: 4px;
    text-align: left;
}

.profile .activity-contact-buttons {
    text-align: left;
}

.profile .activity-contacts {
    padding-left: 5px;
}

.profile .activity-description {
    height: 2.1em;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.profile .activity-description-more-info {
    text-align: right;
}

.profile .activity-description-more-info span {
    color: #00aeef;
}

.profile .activity-header {
    font-size: 1.1em;
}

/*This prevents the page from disappearing when the dropdown is clicked*/
.profile .dropdown-backdrop {
    background: transparent;
}

.profile .dropdown-item {
    padding-left: 5px;
    padding-right: 5px;
}

.profile .activityPrivacyDropdown {
    min-width: 120px;
}

/*******************
Request Tables
*******************/

.profile .tables-section{
    font-size: 1.3em;
}

.profile .header-rows {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    padding: 8px 0;
    margin: 0;
}

.profile .entry-rows {
    border-top: 1px solid rgb(221,221,221);
    padding: 8px 0;
    margin: 0;
    font-size: 1.6em;
}

.profile .activity-buttons {
    text-transform: uppercase;
    font-weight: bold;
}

.profile .hidden-table {
    display: none;
}

.profile .toggleTableBtn {
    cursor: pointer;
}



/****************************
 Media Queries 
****************************/

@media only screen and (min-width: 768px){
    .profile {
        font-size: 1.5em;
    }

    .profile .profile-picture-container {
        width: 100%;
        margin-top: 7px;
        margin-left: 7px;
    }

    .profile .action-icon .glyphicon {
        font-size: 2.5em;
    }

    .profile .activity-privacy-button-mobile-container {
        width: 150px;
    }

    .profile .activity-privacy-button-mobile {
        padding-left: 10px;
    }

    .profile .activity-privacy-button-mobile span {
        padding-right: 10px;
    }

    .profile .activityPrivacyDropdown {
        min-width: 140px;
        font-size: 1.1em;
        margin-left: 5px;
    }



}






/*Tables*/

@media only screen and (max-width: 1199px) { 
    .profile .entry-rows {
        font-size: 1.3em;
    }
    .profile .activity-buttons {
        font-size: 0.7em;
    }
    .profile .header-rows {
        font-size: 1.3em;
    }
 }



@media only screen and (max-width: 767px) {
    .profile .entry-rows {
        text-align: center;
    }
    .profile .header-rows {
        text-align: center;
    }
    .profile .modal-content {
        width: 80%;
    }
}

/***********************
Development Helper
***********************/
.profile .bootstrap-tester {
    /*border: 1px solid purple;*/
}
