.profile .row-centered {
    text-align: center;
}
.profile .col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.profile .col-no-padding {
    padding: 0;
}

.profile .row {
    margin: 0 auto;
    width: 100%;
}

/*******************
Student Profile
*******************/
.profile {
    padding: 0 !important;
    padding-bottom: 45px;
    background: rgb(235, 234, 234);
}

.profile div,
.profile section {
    background-color: white;
}

.profile .profile-block {
    padding: 10px 0;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
}

.profile .block-header {
    font-size: 2.5em;
    text-decoration: underline;
}


/*********************
Main profile block
*********************/

.profile .user-name {
    font-size: 2.5em;
    text-align: center;
}

.profile .user-links {
    font-size: 1.5em;
    text-align: center;
    /*width: 100%;
    margin: 0 auto;*/
}


.profile .social-media-buttons {
    border: 1px solid rgb(215, 215, 215);
    margin: 2px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
}

.profile .user-position {
    font-size: 2em;
    text-align: center;
    padding-bottom: .5em;
}

.profile .profile-block-info {
    margin: auto 0;
}


/**********************************
Profile Action buttons (for mobile)
**********************************/
.profile .profile-action-block{
    padding-top: 5px;
}

.profile .profile-action-button-container {
    border-left: 1px solid rgb(235, 234, 234);
    padding: 4px;
}

.profile .profile-action-button-container:first-of-type {
    border: none;
}

.profile .profile-action-button-container:active {
    background: rgb(235, 234, 234);
}

.profile .action-icon {
    width: 50%;
    margin: 0 auto;
}
.action-icon-image {
    width: 100%;
}

.profile .action-link {
    width: 95%;
    margin: 0 auto;
    font-size: 1.4em;
    text-align: center;
}

.phone-privacy-button {
    display: none;
}

/***********************
Personal info block
***********************/

.profile .personal-info-list {
     font-size: 1.5em;
}

.profile .personal-info-list > ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

.profile .address-title {
    text-decoration: underline;
    font-size: 1.3em;
}


/*******************
Profile Picture
*******************/
.profile .profile-picture-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.profile .image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.profile .overlay {
    display: none;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(23,80,236,.5);
}

.profile .profile-picture-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.profile .text {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/****************************
Edit profile picture modal
****************************/

.profile .showModal {
    display: block !important;
}

.profile .modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.profile .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    max-height: 90%;
    overflow-y: auto;
    /*max-width:*/
}
.profile .modal-content::-webkit-scrollbar { 
    display: none; 
}


/**Form Styles**/

#profile-modal-from-box > form > input,
#profile-modal-from-box > form > .ember-power-select-trigger,
#profile-modal-from-box > form > .input-group,
#profile-modal-from-box > form > textarea {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    color: #31342b;
    font-weight: bold;
    letter-spacing: 1px;
}
#profile-modal-from-box > form > button {
    text-transform: uppercase;
		font-weight: bold !important;
    font-size: 1.5em;
    padding: 8px 15px;
}
#profile-modal-from-box span {
    font-weight: bold !important;
}
#profile-modal-from-box label {
    text-transform: uppercase;
    font-size: 1.3em;
}
#profile-modal-from-box {
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#profile-modal-from-box > form > .input-group > label > span > input {
    display: none;
}

.profile .image-cropper-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/****************************
Edit social media modal
****************************/

.profile .edit-links-button-containers {
    padding: 0;
}

.profile .edit-links-button {
    display: block;
    margin: 0 auto;
    width: 90%;
}
.profile .modal-title {
    font-size: 3em;
}

.profile .links-title {
    font-size: 2.5em;
}

.profile .hide {
    display: none;
}

.profile .edit-links-input {
    display: block;
    width: 100%;
    height: 32px;
    margin: auto 0;
    font-size: 20px;
}

.profile .edit-links-form {
    margin: 3px 0;
}

.profile .edit-links-row {
    margin: 3px 0;
}

.profile .edit-links-form-container {
    margin: 3px 0;
}

.profile .success-message {
    font-size: 1.9em;
    color: green;
}


/****************************
Activities
****************************/

.profile .activity-image {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: auto;
}

.profile .activity-entry {
    padding: 10px 0;
    font-size: 1.5em;
}

.profile .activity-entry-title {
    font-size: 1.2em;
    font-weight: bold;
}

.profile .activity-entry ul {
    list-style-type: none;
}

.profile .club-privacy-button {
    color: #ffffff;
    background: #00aeef;
    padding: 5px 10px 5px 10px;
    width: 120;
}


/*******************
Request Tables
*******************/

.profile .tables-section{
    font-size: 150%;
}

.profile .header-rows {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 2px solid rgb(221,221,221);
    padding: 8px 0;
    margin: 0;
}

.profile .entry-rows {
    border-top: 1px solid rgb(221,221,221);
    padding: 8px 0;
    margin: 0;
    font-size: 1.6em;
}

.profile .activity-buttons {
    text-transform: uppercase;
    font-weight: bold;
}

.profile .hidden-table {
    display: none;
}

.profile .toggleTableBtn {
    cursor: pointer;
}


/****************************
 Media Queries 
****************************/

@media only screen and (max-width: 1199px) { 
    .profile .entry-rows {
        font-size: 1.3em;
    }
    .profile .activity-buttons {
        font-size: 0.7em;
    }
    .profile .header-rows {
        font-size: 1.3em;
    }
 }



@media only screen and (max-width: 767px) {
    .profile .entry-rows {
        text-align: center;
    }
    .profile .header-rows {
        text-align: center;
    }
    .profile .modal-content {
        width: 80%;
    }
}

/***********************
Development Helper
***********************/
.profile .bootstrap-tester {
    /*border: 1px solid purple;*/
}
