.activity-name {
    font-size: 250%;
    margin-top: 0;
}
.activity-picture {
    margin-top: 10px;
    width: 300px;
    height: 300px;
}
.activity-info {
    margin-top: 20px;
}
.activity-info-item {
    font-size: 150%;
}
.activity-info-item-data {
    font-size: 150%;
    margin-left: 30px;
}
.roster-button {
	text-align: center;
	border-radius: 2px;
	transition-duration: 0.4s;
	padding: 2px;
	margin-right: 5px;
}
.roster-button:active {
	transform: translateY(4px);
}
.remove-button:hover {
	background-color: #F44336; /* Red */
	color: white;
}
.edit-button:hover {
	background-color: #00AEEF; /* Gordon Cyan */
	color: white;
}
tr:hover {
	background-color: #F5F5F5; /* light gray */
}