 /*All vendor prefixes were generated automatically via Autoprefixer */

/* -----------------------------
    Title and Picture
------------------------------- */

.specific-activity.main-container {
    background-color: white;
    margin-top: 15px;
}
.specific-activity .activity-name {
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 120%;
    text-align: center;
    color: #31342b;
}
.specific-activity .activity-picture {
    max-width: 50%;
    margin-bottom: 20px;
}
.specific-activity button:hover {
    color: white !important;
}

/* -----------------------------
    Description
------------------------------- */

.specific-activity .activity-info {
    display: inline-block;
}
.specific-activity .detail-item {
    font-size: 200%;
}
.specific-activity .detail-header {
    display: inline;
    font-weight: bold;
}
.specific-activity .detail-info {
    display: inline;
}
.specific-activity .leaders {
    margin-left: 20px;
}
.specific-activity .activity-info-item-data {
    margin: 0 !important;
}
.specific-activity .status-message p {
  font-size: 1.5em !important;
  font-style: italic;
}

/* -----------------------------
    Buttons
------------------------------- */
.specific-activity .button-row {
    text-decoration: inherit;
    margin-bottom: 20px;
}
.specific-activity .button-row > button,
.specific-activity .button-row > a > button {
    width: 100%;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.specific-activity .sup-btn {
    margin-right: 5px !important;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold !important;
}
.specific-activity .remove-image-btn {
    text-align: center;
}
.specific-activity .remove-image-btn button {
    text-transform: uppercase;
    font-weight: bold !important;
}
.specific-activity .glyphicon-envelope {
  font-size: .9em;
  padding-left: .35em;
  padding-right: .6em;
}
.specific-activity .glyphicon-envelope.cyan {
    color: #00aeef;
}
.specific-activity .glyphicon-envelope.cyan:hover {
    color: #DE571F;
}
/* -----------------------------
    Tables
------------------------------- */

.specific-activity .table-row {
    font-size: 150%;
    margin-top: 20px;
}
.specific-activity .table-button {
    margin-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold !important;
}
.specific-activity .empty-table-reminder {
    margin-left: 20px !important;
    font-size: 100%;
}
.specific-activity .group-admin-checkbox {
  text-align: center;
}

/* -----------------------------
    Responsive Changes
------------------------------- */

@media only screen and (min-width: 768px) {
    .specific-activity .button-row {
        margin-right: 10px !important;
    }
    .specific-activity .button-row > button,
    .specific-activity .button-row > a > button {
        width: auto;
        margin-right: 5px;
        display: inline-block;
    }
    .specific-activity .activity-picture {
        min-width: 256px;
        min-height: 256px;
    }
    .specific-activity .comments-table-data {
        max-width: 200px;
    }
    .specific-activity.main-container {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 815px) {
    .specific-activity.main-container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
