 /*All vendor prefixes were generated automatically via Autoprefixer */

/* -----------------------------
    Title and Picture
------------------------------- */

.main-container {
    background-color: white;
}
.activity-name {
    margin-top: 50px;
    font-size: 150%;
}
.activity-picture {
    margin-top: 20px;
    max-width: 50%;
}

/* -----------------------------
    Description
------------------------------- */

.activity-info {
    margin-top: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.detail-item {
    font-size: 200%;
}
.detail-header {
    display: inline;
    font-weight: bold;
}
.detail-info {
    display: inline;
}
.leaders {
    margin-left: 20px;
}
.activity-info-item-data {
    margin: 0 !important;
}
.button-row {
    margin-top: 20px;
}
.button-row > button,
.button-row > a > button {
    width: 90%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.sup-btn {
    margin-right: 5px !important;
}

/* -----------------------------
    Tables
------------------------------- */

.table-row {
    font-size: 150%;
    margin-top: 20px;
}
.roster-button {
    margin-right: 5px;
}
td {
    max-width: 300px;
}
.empty-table-reminder {
    margin-left: 20px !important;
    font-size: 100%;
}

/* -----------------------------
    Responsive Chagnes
------------------------------- */
@media only screen and (min-width: 768px) {
    .button-row > button,
    .button-row > a > button {
        width: auto;
        display: inline-block;
        font-size: 12px;
    }
    .activity-picture {
        min-width: 256px;
        min-height: 256px;
    }
}
@media only screen and (min-width: 992px) {
    .button-row > button,
    .button-row > a > button {
        font-size: 14px;
    }
}
