<div class="container page-title about-container about">
  <div class="about-header">
    <h1>About Gordon360</h1>
  </div>
  <p class="highlight">Conceived and built at Gordon College, by students for students.
  Everyone should be involved in something at College.
  Its what makes College your own Experience.</p>
  <div class="about-content">
    <div>
      <h4 class="cyanbox">Gordon’s 360 Mobile Activities Platform: The Scottie Faire in your hand.</h4>
      <ul>
        <li>Mobile-friendly, responsive web portal</li>
        <li>Promotional access to student Involvement and leadership</li>
        <li>Academic session-based Campus Activities and Leadership Experiences</li>
        <li>Subscriber email feeds</li>
        <li>Membership affinity connections</li>
        <li>Student leader and Advisor Activity self-management</li>
        <li>Rosters and administrative records</li>
        <li>Student Membership and Leadership Experience Transcript</li>
      </ul>
    </div>
    <div>
      <h4 class="cyanbox">Institutional Benefits</h4>
      <ul>
        <li>In-house Student Record relationship</li>
        <li>Official “Gordon Experience Transcript” with unofficial portal view</li>
        <li>Academic Advising resource</li>
        <li>Leadership and Involvement advising resource</li>
        <li>Institutional reporting</li>
      </ul>
    </div>
  </div>
  <div class="about-content">
    <h3 class="cyanbox">Origins</h3>
    <div>
      <h4>Concept and Imagineering</h4>
      <p>Chris Carlson ’87, Student Life<br>Carissa Church ’18 and Grace Crook ‘18</p>
    </div>
    <div>
      <h4>Incubation Team</h4>
      <p>Dr. Russ Tuck, Summer Practicum in Computer Science program (2016)<br>
        Ezeanyinabia ‘Eze’ Anyanwu ’17, Adam Bartholomew ’17, and James Kempf ‘17</p>
    </div>
    <div>
      <h4>Product Deployment and Support</h4>
      <p>Chris Hansen; Jason Whitehouse ’99, Information Systems Group<br>
        Emmanuel Roussel ‘17 and Stephanie Powers '17</p>
    </div>
    <div>
      <h4>Software Development Team, 2017</h4>
      <p>Dr. Russ Tuck, Dr. Jonathan Senning,  Summer Practicum in Computer Science program (2017)<br>
        Bradley Boutcher '18, Matthew Felgate '18, Jenny Kim '19, Sam Nguyen '19, Joseph Ross and Chris Qiao '17</p>
    </div>
    <div>
      <h4>Beneficient Philanthropes</h4>
      <p>To the visionary benefactors who support the Summer Practicum in
        Computer Science program at Gordon College, thank you!<br>
        And to Dr. D. Michael Lindsay, President; Jennifer Jukanovich ’94,
        Vice President for Student Life, thank you for the opportunity to
        apply our learning in a creative, practical way!<br>
        And to our mentors and coaches in development and deployment,
        thank you for your guidance and encouragement to try new things.</p>
    </div>
    <div>
        <h5>Found a bug? Report to
            <span>
                CTS
                {{#link-to 'email' (query-params emailAddress='cts@gordon.edu' emailType='personal' activityCode=null sessionCode=null)}}
                  <span class="glyphicon glyphicon-envelope cyan"></span>
                {{/link-to}}
            </span>
        </h5>
    </div>
  </div>

</div>
