<div class="container main-container">
    <div class="row">
        <div class="section-title">
            <h1>Open Current Activities</h1>
        </div>
    </div>

    <div class="row">
        <div class="section-title">
            <h1>Closed Current Activities</h1>
        </div>
    </div>

</div>
