<div class = "container event-box">
  <h4 class = "cyanbox">
    <div class="row">
      <div class="col-xs-4 col-md-8">Event </div>
      <div class="col-xs-4 col-md-2">Location</div>
      <div class="col-xs-2 col-md-1">Time</div>
      <div class="col-xs-2 col-md-1">Date</div>
    </div>
  </h4>
    <div class="row-events">
      <div class="row table-row">Emp-01</div>
      <div class="row table-row">Emp-02</div>
      <div class="row table-row">Emp-03</div>
      <div class="row table-row">Emp-04</div>
      <div class="row table-row">Emp-05</div>
      <div class="row table-row">Emp-06</div>
      <div class="row table-row">Emp-07</div>
      <div class="row table-row">Emp-08</div>
      <div class="row table-row">Emp-09</div>
      <div class="row table-row">Emp-10</div>
      <div class="row table-row">Emp-11</div>
      <div class="row table-row">Emp-12</div>
    </div>
</div>
