<div class="container page-title">
	<p class="highlight">
    <h2>Oh no! It looks like the page you requested wasn't found.</h2><br>
  Things you can try:
    <ul>
      <li>Go back to the default {{#link-to "all-activities"}} all activities
        {{/link-to}} page </li>
      <li>Clear out the "sessionCode" field in the url</li>
      <li>Contact CTS via email at CTS@gordon.edu</li>
    </ul>
  </p>
</div>
