<div class = "container event-box">
    <div class="category-bar">
        <div class="col-xs-12 col-md-8">Event Title</div>
        <div class="col-md-1">Date</div>
        <div class="col-md-1">Time</div>
        <div class="col-md-2">Location</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">Emp-01</div>
            <div class="col-xs-12 col-md-8">Rev. Tom Haugen</div>
            <div class="col-md-1">06/15/2017</div>
            <div class="col-md-1">03:00 PM</div>
            <div class="col-md-2">A.J. Chapel</div>
    </div>
</div>
