<div class = "container event-box">
  <h4 class = "cyanbox">
    <div id = "category-bar" class="row">
      <div class="event-labels col-xs-4 col-md-6">Event </div>
      <div class="event-labels col-xs-4 col-md-2">Location</div>
      <div class="event-labels col-xs-2 col-md-2">Time</div>
      <div class="event-labels col-xs-2 col-md-2">Date</div>
    </div>
  </h4>
    <div class="row-events">
      <div class="row event-row">
        <h4 id = "event-title" class="col-xs-4 col-md-6">Chapel: Tom Haugen </h4>
        <h4 id= "event-location" class="col-xs-4 col-md-2">A.J. Chapel</h4>
        <h4 id= "event-time" class="col-xs-2 col-md-2">11:05 AM</h4>
        <h4 id = "event-date" class="col-xs-2 col-md-2">Feb. 02</h4>
      </div>
      <div class="row event-row">
        <h4 class="col-xs-4 col-md-8">Event01 </h4>
      </div>
      <div class="row event-row">
        <h4 class="col-xs-4 col-md-8">Event01 </h4>
      </div>
      <div class="row event-row">
        <h4 class="col-xs-4 col-md-8">Event01 </h4>
      </div>
      <div class="row event-row">
        <h4 class="col-xs-4 col-md-8">Event01 </h4>
      </div>
    </div>
</div>
