<div class="container">
    <img src="http://christiancollegeguide.net/sites/default/files/Gordon-College-Logo_250x125_0.png" alt="Gordon College">
    <div class="row">
        <div class="col-sm-9">
            <h1 class="app-title">Student Clubs <span class="app-title-ampersand">&amp;</span> Organizations</h1>
        </div>
        <div class="col-sm-3">
            <p class="acknowledge-user">Hello, Dalton Weaner</p>
        </div>
    </div>
	<nav class="navbar navbar-blue row" role="navigation">
        <div class="container-fluid">
    		<!-- <div class="collapse navbar-collapse"> -->
    			<ul class="nav navbar-nav">
    				<li>
                        {{#link-to 'index' class="button"}}
                            What's Available?
                        {{/link-to}}
    				</li>
    				<li>
                        {{#link-to 'my-activities' class="button"}}
                            My Involvements
                        {{/link-to}}
    				</li>
    				<li>
                        {{#link-to 'transcript' class="button"}}
                            Co-Curricular Transcript
                        {{/link-to}}
    				</li>
    			</ul>
    		<!-- </div> -->
        </div>
	</nav>
</div>

{{outlet}}
