<div class="main-container">
    <header>
        <div class="graybox app-title-container">
            <h1 class="app-title">Student Clubs &amp; Organizations</h1>
            {{#if session.isAuthenticated}}
                <div class="user-info">
                    <h6>Dalton Weaner</h6>
                    <button {{action 'logout'}} class="logout-btn">Logout</button>
                </div>
            {{/if}}
        </div>
        <div id="logo-box">
            <img src="images/gordon-logo-vertical-white.svg" alt="Gordon College">
        </div>
    </header>
    <div class="nav-bar lightgraybox">
        <ul id="primary-menu">
            <li>
                {{#link-to 'all-activities' class="button"}}
                    What's Available?
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'my-activities' class="button"}}
                    My Involvements
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'transcript' class="button"}}
                    Gordon 360
                {{/link-to}}
            </li>
        </ul>
    </div>
</div>

{{outlet}}
