<div class="container event-box">
  <div class="highlight highlight-box ">
    <button type="button" class="btn pull-right ">All CL&W</button>
    <p class="event-p">
      You currently have <i><b>30</b></i> Christian Life and Worship Credits
    </p>
    <div class="progress">
      <div class= "progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        60%
      </div>
    </div>

  </div>
  <h4 class="cyanbox">
    <div id = "category-bar" class="row">
      <div class="event-labels col-xs- col-md-6">Events Attended </div>
      <div class="event-labels col-xs-4 col-md-2">Location</div>
      <div class="event-labels col-xs-2 col-md-2">Time</div>
      <div class="event-labels col-xs-2 col-md-2">Date</div>
    </div>
  </h4>
  <div class="row-events">
    <div class="row event-row">
      <h4 class="col-sm-8 col-md-6" onclick= {{action "toggleRequestSent"}}>Chapel: Tom Haugen </h4>
      <h4  class="col-xs-hide col-md-2">A.J. Chapel</h4>
      <h4 class="col-xs-hide col-md-2">11:05 AM</h4>
      <h4 class="col-xs-hide col-md-2">Feb. 02</h4>
    </div>
    <div class="row event-row">
      <h4 class="col-sm-8 col-md-6" onclick= {{action "toggleRequestSent"}}>Chapel: Tom Haugen </h4>
      <h4  class="col-xs-hide col-md-2">A.J. Chapel</h4>
      <h4 class="col-xs-hide col-md-2">11:05 AM</h4>
      <h4 class="col-xs-hide col-md-2">Feb. 02</h4>
    </div>
    <div class="row event-row">
      <h4 class="col-xs-4 col-md-8">event01 </h4>
    </div>
    <div class="row event-row">
      <h4 class="col-xs-4 col-md-8">event01 </h4>
    </div>
    <div class="row event-row">
      <h4 class="col-xs-4 col-md-8">event01 </h4>
    </div>
  </div>
</div>
