<div class="main-container">
    <div class="row">
        <form class="email-form">
            <input type="text" class="form-control" placeholder="Subject"/>
            <textarea class="form-control" id="email-content" />
            <button type="submit" class="btn pull-right" id="submit-email">Submit</button>
        </form>
    </div>
</div>
