<div class="main-container">
    <div class="row" id="email-div">
        <h1>Send Email to</h1>
        <p>{{model}}</p>
        <form class="email-form">
            <input type="text" class="form-control" placeholder="Subject" id="email-subject"/>
            {{ medium-content-editable value="" options=mediumEditorOptions class="form-control" id="email-content"}}
            <!-- <textarea class="form-control" id="email-content" /> -->
            <div id="submit-div">
                <input type="password" class="form-control" placeholder="Password" id="password" autocomplete="new-password"/>
                <button type="submit" class="btn pull-right" id="submit-email" {{action "send"}}>Submit</button>
            </div>
        </form>
    </div>
    <div class="row" id="success-msg">
        <h3>Email sent successfully!</h3>
    </div>
</div>
