<div class="container error">
      <div class="error-message text-center">ERROR</div>
      <h3 class="font-bold text-center">Our server appears to be down!</h3>

      <div class="error-description text-center">
          Sorry, but the page you are looking for was either not found or does not exist. <br/>
          Please contact Matt Felgate for technical help.
      </div>
  </div>
