<div class="container-fluid">
  <div class="row hey">
    <div class="col-sm-6 col-lg-4">
      <nav class="navbar navbar-default navbar-fixed-side">
        <ul>
					<li> chapel credits here </li>
				</ul>
      </nav>
    </div>

    <div class="col-sm-6  col-lg-offset-1 col-lg-7">
			<div class="row dashboard">
				<div class="main-content ">
					{{homepage-banner slides=model.slides}}
				</div>
			</div>
    </div>

  </div>

</div>
