<link rel="stylesheet" href="assets/all-activities.css">
<div class="page-title">
	<h2>{{model.currentSession.SessionDescription}}</h2>
</div>
<div class="main-container">
	<div class="dropdown-container">
		<div class="session-dropdown">
			{{#power-select
				placeholder="Select Session"
				searchField="SessionDescription"
				options=model.sessions
				onchange=(action "selectSession")
				as |session|
			}}
				{{session.SessionDescription}}
			{{/power-select}}
		</div>
	</div>
	<div class="activity-list">
		{{#each model.activities as |activity|}}
			{{#link-to 'specific-activity' model.currentSession.SessionCode activity.ActivityCode class="well activity-list-item"}}
					<img class="activity-list-item-img" src="http://whoopdirt.com/wp-content/uploads/2016/06/Gordon_Logo-294_bigger.gif">
					<p class="text-center">{{activity.ActivityDescription}}</p>
			{{/link-to}}
		{{/each}}
	</div>
</div>
