<div id="form-box" class="graybox container">
    <h1>Login</h1>
    <form {{action "authenticate" on="submit"}}>
        {{input id="identification" class="form-control" placeholder="Username" value=identification}}
        {{input id="password" class="form-control" placeholder="Password" type="password" value=password}}
        <button type="submit" class="btn form-button button-navy">Login</button>
        {{#if errorMessage}}
            <p id="error-message">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>
