

<div class="main-container">
		<div class="section-title">
			<h2>Current Experience:</h2>
		</div>
	<div class="my-activity-list">
		{{#each model as |mem|}}
			{{#link-to 'specific-activity' mem.SessionCode mem.ActivityCode class="well my-activity-list-item"}}
				<img class="my-activity-list-item-img" src="http://whoopdirt.com/wp-content/uploads/2016/06/Gordon_Logo-294_bigger.gif">
				<div class="membership-description">
					<dl>
						<dd>Activity</dd>
						<dt>{{mem.ActivityDescription}}</dt>
						<dd>Membership Role</dd>
						<dt>{{mem.ParticipationDescription}}</dt>
						<dd>Membership Session</dd>
						<dt>{{mem.SessionDescription}}</dt>
					</dl>
				</div>
			{{/link-to}}
		{{/each}}
	</div>
	<div class="row">
		<div class="col-sm-12 section-title">
			<h2>Past Experience:</h2>
		</div>
	</div>
	<div class="col-sm-12">
		<center>
			<strong>Coming Soon!</strong>
		</center>
	</div>
</div>
