

<div class="main-container">
		<div class="section-title">
			<h2>Current Experience:</h2>
		</div>
	<div class="my-activity-list">
		{{#each model as |mem|}}
			{{#link-to 'specific-activity' mem.SessionCode mem.ActivityCode class="well my-activity-list-item"}}
				<img class="my-activity-list-item-img" src="http://whoopdirt.com/wp-content/uploads/2016/06/Gordon_Logo-294_bigger.gif">
				<div class="membership-description">
					<dl>
						<dt>Activity</dt>
						<dd>{{mem.ActivityDescription}}</dd>
						<dt>Membership Role</dt>
						<dd>{{mem.ParticipationDescription}}</dd>
						<dt>Start Date</dt>
						<dd>{{moment-format mem.StartDate 'MMMM Do YYYY'}}</dd>
						<dt>End Date</dt>
						<dd>{{moment-format mem.EndDate 'MMMM Do YYYY' allow-empty=true}}</dd>
					</dl>
				</div>
			{{/link-to}}
		{{/each}}
	</div>
	<div class="row">
		<div class="col-sm-12 section-title">
			<h2>Past Experience:</h2>
		</div>
	</div>
	<div class="col-sm-4">
		<p> <img src="http://aka.weightwatchers.com/images/1033/dynamic/GCMSImages/Potato_main.jpg"> Coming Soon!</p>
	</div>
</div>
