<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <button id="download-button" class="btn button-cyan" onclick={{action "getPDF"}}>
                Download Transcript
            </button>
        </div>
        <iframe id="transcipt-view" src={{model.url}}></iframe>
    </div>
</div>
