<div class="cyanbox col-sm-3 left-menu">
    <center>

        <h4>Other things you may like.</h4>
        <p>One</p>
        <p>Two</p>

    </center>
</div>

<div class="col-sm-6 center-menu">
    <center class="greenbox">
        <h1>COMING SOON!</h1>
        <p>A preview of a students Co-Curricular Transcript.</p>
    </center>
    <div>
        <center class="whitebox" style="padding-bottom: 585px;">
            <p>Transcript goes here</p>
        </center>
    </div>
</div>

<div class="cyanbox col-sm-3 right-menu">
    <center>

        <h4>More opportunities based on what you have already done.</h4>
        <p>One</p>
        <p>Two</p>

    </center>
</div>
