<div class="container">
    <nav class="navbar navbar-blue row" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    {{#link-to 'index' class="button"}}
                        What's Available?
                    {{/link-to}}
                </li>
                <li>
                    {{#link-to 'my-activities' class="button"}}
                        My Involvements
                    {{/link-to}}
                </li>
                <li class="active">
                    {{#link-to 'transcript' class="button"}}
                        Co-Curricular Transcript
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </nav>

    <center>
        <h1>COMING SOON!</h1>
        <p>A preview of a students Co-Curricular Transcript.</p>
    </center>

</div>
