<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <button id="download-button" class="btn button-cyan" onclick={{action "getPDF"}}>
                Get Transcript
                <span class="glyphicon glyphicon-save-file"></span>
            </button>
        </div>
        <iframe src={{model.url}}></iframe>
    </div>
</div>
